table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 5px;
}

#dataTable tbody tr:nth-child(odd){
    background-color: rgba(0, 119, 255, 0.141);
}

#dataTable tbody tr:nth-child(even){
    background-color: rgba(0, 119, 255, 0.064);
}

th{
    background-color: rgba(0, 153, 255, 0.207);
}



input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


